@inject IHttpContextAccessor HttpContextAccessor
@{
    var userRole = HttpContextAccessor.HttpContext.Session.GetString("UserRole");
}

@if (userRole == "Admin")
{
    <li><a asp-page="/Admin/Dashboard">Admin Dashboard</a></li>
}
@if (userRole == "Enseignant")
{
    <li><a asp-page="/Enseignant/Dashboard">Espace Enseignant</a></li>
}
@if (userRole == "Étudiant")
{
    <li><a asp-page="/Etudiant/Dashboard">Espace Étudiant</a></li>
}

<form method="post" asp-page="/Logout">
    <button type="submit">Se déconnecter</button>
</form>
